# Serial flasher config
#
CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3120

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

# Custom Audio Board
#
CONFIG_AUDIO_BOARD_CUSTOM=y

CONFIG_AI_THINKER_ESP32_A1S_ES8388_VARIANT_5=y
CONFIG_AI_THINKER_ESP32_A1S_ES8388_BUTTON_KEY_GPIO=y
CONFIG_AI_THINKER_ESP32_A1S_AUDIO_KIT_USING_SDCARD=y


CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_radiojkk.csv"

CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=3584

CONFIG_LOG_COLORS=y

CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y

CONFIG_LV_CONF_SKIP=y
CONFIG_LV_FONT_DEFAULT_UNSCII_8=y
CONFIG_LV_FONT_MONTSERRAT_14=n
CONFIG_LV_FONT_UNSCII_8=y
CONFIG_LV_FONT_UNSCII_16=y
CONFIG_LV_DRAW_SW_COMPLEX=n
CONFIG_LV_USE_OBSERVER=n
CONFIG_LV_USE_SYSMON=n
